@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a href="Index">Chefs</a> | Dishes</h1>
    <h4><a href="dishes/new">Add a Dish</a></h4>
    <h3>Yum, take a look at our tasty dishes!</h3>

    <div class="content">
            <table class="chefs_table">
                <tr>
                    <th>Name</th>
                    <th>Chef</th>
                    <th>Tastiness</th>
                    <th>Calories</th>
                </tr>
            @{
                foreach(var dish in @Model) {
                <tr>
                    <td>@dish.Name</td>
                    <td>@dish.Creator</td>
                    <td>@dish.Tastiness</td>
                    <td>dish.Calories</td>
                </tr>
                }
            }
            </table>
        </div>
    
</div>

<style>
.chefs_table{
    margin-top: 50px;
    margin-left: 80px;
    align-content: center;
}
</style>